/** Import fonts **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');


/** Colors **/
:root {
    --blue: #0065FC;
    --ligther-blue: #DEEBFF;
    --Gray: #F2F2F2;
}

/** Reset Styling **/

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
}

p,
i {
    font-size: 14px;
}


/************************************* Styling ***********************************************************/

/********************************** Site-Header*****************************/

.site-logo {
    position: relative;
    height: 60px;
    right: 20px;
}

.site-logo-mobile {
    display: none;
}

.site-header,
.site-search-form-section {
    margin-top: 10px;
    margin-left: 24px;
}

.site-heading {
    font-size: 20px;
}

.site-subheading {
    font-weight: 500;
    margin-bottom: 50px;
}

/********************************** Navigation *****************************/
.site-nav {
    position: absolute;
    top: 0px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    font-weight: 300;
    font-size: 14px;
}


.nav-text {
    border-top: white 3px solid;
    padding: 30px 0;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.nav-text:hover {
    color: var(--blue);
    border-top: var(--blue) 3px solid;
}


/********************************** Seacrh Form ***************************/

.site-search-form {
    display: flex;
    align-items: center;
}

.form-icon-background {
    height: 45px;
    width: 50px;
    display: inline-block;
    margin-right: -4px;
    border-radius: 15px 0 0 15px;
    background-color: var(--Gray);
    padding: 14px;
}

.form-icon {
    font-size: 18px;

}

.form-text-field {
    border: var(--Gray) 1px solid;
    margin: 0;
    height: 45px;
    width: 220px;
    font-weight: 700;
    padding-left: 20px;
    color: black;

}

.form-button {
    border-radius: 0 15px 15px 0;
    padding: 13px 15px;
    background-color: var(--blue);
    color: white;
    font-weight: 500;
    margin-left: -5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.form-button:hover {
    background-color: darkblue;
}

.form-button-mobile {
    display: none;
}

/********************************** Filter Section **************************/
.filter-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 24px;

}

.filter-title {
    position: relative;
    top: 43px;
}


.filters {
    width: 60%;
    margin: 10px 85px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.filter-item {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: var(--Gray) 3px solid;
    border-left: none;
    font-weight: 700;
    cursor: pointer;
    padding-right: 5px;
    transition: ease-in-out 0.5s;
    padding: 10px 10px 10px 0;
}

.filter-item:hover {
    border-color: var(--ligther-blue);
    background-color: var(--ligther-blue);
}


.filter-icon-background {
    background-color: #DEEBFF;
    border-radius: 50px;
    width: 40px;
    padding: 10px;
    text-align: center;
}

.item-icon {
    color: var(--blue);
}

.item-text {
    padding-left: 5px;
}

/********************************** Tooltip Section *************************/

.tooltip {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 320px;
    margin-bottom: 5x;
}

.tooltip-icon {
    border: var(--Gray) 2px solid;
    border-radius: 20px;
    padding: 4px 8px;
    color: var(--blue);
}

.tooltip-text {
    padding-left: 5px;
}

/********************************** MainSection ***************************/

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px10px;
    margin-bottom: 30px;
}

.results-link {
    display: block;
    width: 100px;
    margin: 20px 25px 30px;
    font-weight: 700;

}

.results-link:hover {
    color: var(--blue);
}

.star-toggled-on {
    color: var(--blue);
}

.star-toggled-off {
    color: var(--Gray);
}

.star-toggled-on,
.star-toggled-off {
    font-size: 11px;
}


/********************************** Results Section ************************/

.results-section-header {
    padding: 20px 0 0 20px;
}

.results-section-title,
.side-panel-title,
.activities-section-title {
    font-size: 18px;
}

.results-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.product-card {
    height: 160px;
    width: 200px;
    border-radius: 20px;
    border: white 4px solid;
    background-color: white;
    margin: 6px 0;
    filter: drop-shadow(0px 3px 4px #BBB);
    transition: ease-in-out 0.2s;
}

.product-card:hover,
.side-panel-card:hover {
    filter: drop-shadow(0px 0px 10px var(--blue));
    cursor: pointer;
}

.card-image {
    height: 55%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.card-title {
    font-size: 13px;
}

.card-pricing {
    font-size: 12px;
    padding: 2px 0;
}

.product-card>figcaption {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 10px;
}

.product-card-rating>i {
    letter-spacing: -3px;
}


/********************************** Side Panel section **********************/
.side-panel-section {
    background-color: var(--Gray);
    border-radius: 20px;
    order: 0;
}

.side-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 15px;
}

.side-panel-icon {
    font-size: 18px;
}

.side-panel-card {
    display: flex;
    height: 200px;
    width: 90%;
    border: white 4px solid;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 4px #BBB);
    margin: 13px auto;
    transition: ease-in-out 0.2s;
}


.side-panel-card>figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 150px
}

.side-panel-card-image {
    border-radius: 15px 0 0 15px;
    width: 40%;
    object-fit: cover;
}

/********************************** Activities Section **********************/
.activities-section {
    width: 100%;
    order: 2;

}

.activities-section-title {
    margin: 30px 25px 10px 0px;
}

.activities-section-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

.activities-section-container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.activities-section-card {
    width: 210px;
    border-radius: 15px;
    background-color: white;
    filter: drop-shadow(0px 3px 4px #BBB);
    transition: ease-in-out 0.3s;
}

.activities-section-card:hover {
    transform: translatey(-10px);
}

.activities-section-card>figcaption>.card-title {
    padding: 10px
}

.xl,
.lg,
.s,
.xs {
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}

.xl {
    height: 300px;
    width: 100%;
}

.lg {
    height: 160px;
    width: 100%;
}

.s {
    height: 100px;
    width: 100%;
}

.xs {
    height: 70px;
    width: 100%;
}

/********************************** Footer Section *************************/


footer {
    background-color: var(--Gray);
}


.footer-container {
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}


.footer-section-title {
    font-size: 16px;
    margin-bottom: 16px;
}


.footer-text {
    display: block;
    padding: 5px 0;
    font-weight: 500px;
    cursor: pointer;
}

.footer-text:hover {
    color: var(--blue);
}


/*******************************Media Queries****************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /********************************** Header Section **********************/

    .site-logo {
        display: none;
    }

    .site-logo-mobile {
        display: block;
        margin: 10px auto 140px;
    }


    /********************************** Nav Section **********************/

    .site-nav {
        top: 120px;
        justify-content: center;
        width: 100%;
        font-size: 20px;
    }


    .nav-text {
        width: 100%;
        border-top: none;
        border-bottom: var(--Gray) 3px solid;
        font-weight: 500;
        font-size: 18px;
    }

    .nav-text:hover {
        border-top: none;
        border-bottom: var(--blue) 3px solid;
    }

    /********************************** Search Section **********************/


    .site-search-form{
        width: 90%;

    }


    .site-search-form-section {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin:20px 0;
    }

    .form-icon-background {
        height: 100%;
        width: 60px;
        padding: 18px;
    }

    .form-icon {
        font-size: 24px;
    }

    .form-text-field {
        width: 100%;
        height: 60px;
        font-size: 20px;
    }


    .form-button {
        display: none;
    }

    .form-button-mobile {
        display: block;
        height: 100%;
        width: 75px;
        border-radius: 15px;
        margin-left: -15px;
        cursor: pointer;
        background-color: var(--blue);
        color: white;
        transition: ease-in-out 0.3s;
    }

    .form-button-mobile:hover {
        background-color: darkblue;
    }

    .form-button-icon {
        color: white;
        font-size: 18px;
    }

    /********************************** Filter Section **********************/

    .filter-title {
        position: absolute;
        top: 430px;
        left: 25px
    }

    .filter-section {
        margin: 0 auto;

    }

    .filters {
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    .filter-item {
        margin: 10px 0;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        padding-right: 5px;
        border: var(--Gray) 3px solid;
        border-left: none;
        font-weight: 700;
        cursor: pointer;
        transition: ease-in-out 0.3s;
    }

    .pets-item {
        width: 240px;
    }

    .filter-icon-background {
        height: 60px;
        width: 60px;
        padding: 18px;
    }


    .item-icon {
        color: var(--blue);
        font-size: 22px
    }

    .item-text {
        font-size: 20px;
        padding: 10px;
    }

    .order-first-place {
        order: -1;
    }

    .order-second-place {
        order: -1;
    }


    /********************************** Tooltip Section ********************************/

    .tooltip {
        padding-left: 20px;
    }

    /********************************** Main Content section **************************/
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;

    }

    /********************************** Results section ********************************/

    .results-section {
        width: 95%;
        background-color: white;
    }

    .results-section-header {
        padding: 0;
    }

    .results-section-title,
    .activities-section-title {
        font-size: 24px;
        padding: 0;
        width: 95%;
        margin: 10px auto;
    }

    .results-grid>.product-card {
        width: 100%;
    }

    .product-card {
        height: 280px;
    }

    .results-link {
        margin-left: 12px;
        font-size: 18px;
    }


    /********************************** Side Panel section **********************/
    .side-panel-section {
        margin: 25px 0;
        width: 100%;
        border-radius: 0;
        order: -1;
    }

    .side-panel-header {
        padding: 30px 35px 15px;
    }

    .side-panel-title {
        font-size: 28px;
    }

    .side-panel-icon {
        font-size: 26px;
    }

    .side-panel-card {
        height: 160px;
    }


    .side-panel-card>.card-title {
        font-size: 50px;
    }

    .side-panel-card>figcaption {
        padding: 10px 35px;
        width: 60%;
    }

    /********************************** Activities section **********************/

    .activities-section-container {
        flex-direction: column;
    }

    .activities-section-card {
        width: 90%;
        margin: 10px auto;
    }

    .activities-section {
        width: 95%;
    }


    .card-title {
        font-size: 18px;
    }

    .product-card>.card-image {
        height: 65%;
    }

    .product-card>figcaption {
        padding: 10px;
    }

    .card-pricing {
        font-size: 16px;
        padding: 6px 0;
    }



    .product-card-rating>i {
        font-size: 14px;
    }

    .xs,
    .s,
    .lg,
    .xl {
        height: 200px;
    }


    /********************************** Footer section **********************/

    .footer-container {
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-section-title{
        font-size: 20px;
    }

    .footer-section {
        margin: 20px 0;
    }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .results-section {
        width: 95%;
        background-color: white;
    }

    .results-section-header {
        padding: 0;
    }

    .results-section-title {
        font-size: 40px;
        padding: 0;
        text-align: center;
        margin: 10px auto;
    }

    .product-card {
        height: 260px;
        width: 45%;
    }

    .card-title {
        font-size: 16px;
    }

    .card-image {
        height: 70%;
    }

    .product-card-rating>i,
    .card-pricing {
        font-size: 14px;
    }



    .side-panel-section {
        margin: 25px 0;
        width: 95%;
    }

    .side-panel-title {
        font-size: 30px;
    }

    .side-panel-icon {
        font-size: 26px;
    }

    .card-pricing {
        font-size: 18px;
    }

    .side-panel-star {
        font-size: 18px;
    }

    .activities-section {
        width: 95%;
    }



    .results-link {
        font-size: 18px;
    }


    .side-panel-card>figcaption {
        padding: 10px;
        width: 60%;
    }

    .activities-section-container {
        flex-direction: column;
    }

    .activities-section-title {
        font-size: 28px;
    }

    .activities-section-card {
        width: 90%;
        margin: 10px auto;
    }

    .xs,
    .s,
    .lg,
    .xl {
        height: 200px;
    }


    .footer-container {
        width: 100%;
        ;
        justify-content: space-between;
    }




}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }


    .results-section {
        width: 65%;
        background-color: var(--Gray);
        border-radius: 20px;
        order: 0;
    }

    .results-section-header {
        padding: 20px 0 0 20px;
    }

    .results-section-title,
    .side-panel-title,
    .activities-section-title {
        text-align: left;
        font-size: 18px;
    }




    .product-card {
        height: 160px;
        width: 190px;
    }

    .card-image {
        height: 60%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }


    .card-title {
        font-size: 12px;
    }

    .card-pricing {
        font-size: 12px;
    }


    .product-card-rating>i,
    .card-pricing {
        font-size: 12px;
    }


    .product-card-rating>i {
        letter-spacing: -3px;
    }



    .side-panel-section {
        width: 30%;
        background-color: var(--Gray);
        border-radius: 20px;
    }

    .side-panel-title {
        padding-top: 18px;
    }


    .side-panel-icon {
        font-size: 18px;
    }


    .side-panel-card {
        display: flex;
        height: 110px;
        width: 250px;
        margin: 26px auto;
    }

    .side-panel-star {
        font-size: 12px;
    }

    .activities-section-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px auto;
    }


    .activities-section-card {
        width: 210px;
        margin: 0;
    }

    .xl,
    .lg,
    .s,
    .xs {
        object-fit: cover;
        border-radius: 15px 15px 0 0;

    }

    .xl {
        height: 300px;
        width: 100%;
    }

    .lg {
        height: 160px;
        width: 100%;
    }

    .s {
        height: 100px;
        width: 100%;
    }

    .xs {
        height: 70px;
        width: 100%;
    }

    .footer-container {
        width: 90%;
        ;
    }

}

@media only screen and (min-width: 1200px) {



    .product-card {
        height: 190px;
        width: 240px;
    }

    .card-title {
        font-size: 14px;
    }

    .card-pricing {
        font-size: 14px;
        padding: 6px 0;
    }


    .product-card-rating>i,
    .card-pricing {
        font-size: 14px;
    }


    .side-panel-card {
        display: flex;
        height: 140px;
        width: 90%;
        margin: 19px auto;
    }

    .activities-section-card {
        width: 240px;
    }

    .xl,
    .lg,
    .s,
    .xs {
        object-fit: cover;
        border-radius: 15px 15px 0 0;

    }



}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2560px) {

    .results-section-header {
        padding: 20px 0 0 60px;
    }

    .results-section-title,
    .side-panel-title,
    .activities-section-title {
        font-size: 24px;
    }

    .product-card {
        height: 260px;
        width: 460px;
    }

    .card-image {
        height: 65%;
        width: 100%;
    }

    .card-title {
        font-size: 18px;
    }

    .card-pricing {
        font-size: 16px;
    }

    .product-card-rating>i {
        font-size: 18px;
    }

    .side-panel-section {
        width: 28%;
    }

    .side-panel-card {
        display: flex;
        height: 160px;
        width: 80%;
        margin: 32px auto;
    }


    .side-panel-card>figcaption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        width: 50%;
    }

    .side-panel-card-image {
        border-radius: 15px 0 0 15px;
        width: 40%;
        object-fit: cover;
    }



    .activities-section-title {
        margin: 30px 25px 10px 120px;
    }


    .activities-section-card {
        width: 410px;
    }


    .xl {
        height: 700px;
    }

    .lg {
        height: 360px;
    }

    .s {
        height: 300px;
    }

    .xs {
        height: 270px;
    }

}