/** Import fonts **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');


/** Colors **/
:root {
    --blue: #0065FC;
    --ligther-blue: #DEEBFF;
    --Gray: #F2F2F2;
}

/** Reset Styling **/

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    overflow: 0;
    text-decoration: none;
    color: black;
}


/** Styling **/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        padding: 20px;
        width: 992px;
        margin: 0 auto;
    }

    /**Site Logo**/
    #site-logo {
        position: relative;
        right: 20px;
        height: 45px;
        width: auto;
        margin-bottom: 35px;
    }


    /** Navigation **/
    #site-nav {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        font-weight: 500;
    }


    .nav-text {
        border-top: white 3px solid;
        padding-top: 45px;
        width: 200px;
        text-align: center;
    }

    .nav-text:hover {
        color: var(--blue);
        border-top: var(--blue) 3px solid;
    }


    .site-heading {
        font-size: 18px;
    }



    /** Seacrh Form **/
    .site-search-form {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .form-icon-background {
        height: 45px;
        width: 40px;
        display: inline-block;
        background-color: var(--Gray);
        border-radius: 15px 0 0 15px;
        margin-right: -4px;

    }

    .form-icon {
        padding: 14px 16px;
    }

    .form-text-field {
        border: var(--Gray) 1px solid;
        margin: 0;
        height: 45px;
        width: 200px;
        font-weight: 700;
        padding-left: 20px;
        color: black;

    }

    .form-button {
        border-radius: 0 15px 15px 0;
        padding: 13px 15px;
        background-color: #0065FC;
        color: white;
        font-weight: 500;
        margin-left: -5px;
        cursor: pointer;
    }


    /**Filters Section**/

    .filters {
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 65%;

    }

    .filters>h2 {
        font-size: 18px;
    }

    .filter-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        border-radius: 50px;
        padding-right: 15px;
        border: var(--Gray) 3px solid;
        border-left: none;
        font-weight: 700;
        font-size: 12px;

    }

    .filter-icon-background {
        background-color: #DEEBFF;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        padding: 13px;
        text-align: center;
    }

    .item-icon {
        color: #0065FC;
    }

    .item-text {
        padding: 5px;
    }

    /** Tool Tip**/

    .tooltip {
        display: flex;
        justify-content: space-between;
        width: 450px;
    }

    .tooltip-icon {
        color: var(--blue);
        border: var(--Gray) 2px solid;
        border-radius: 20px;
        padding: 9px 14px;
        margin-right: 10px;
    }

    .tooltip-text {
        padding-right: 30px;
    }


    /*Main-content*/

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .main-content-header {
        padding: 10px;
    }

    .main-content-title,
    .side-content-title {
        font-size: 16px;
    }

    .main-content>section {
        background-color: var(--Gray);
        border-radius: 15px;
        padding: 10px;
    }


    /*Results Section*/

    .results-section {
        max-width: 65%;
    }

    .results-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-card {
        width: 180px;
        height: 160px;
        border-radius: 20px;
        border: white 4px solid;
        background-color: white;
     
    }

    .card-image {
        border-radius: 15px 15px 0 0;
        width: 172px;
        height: 80px;
        object-fit: cover;
       
    }

    .card-title {
        font-size: 14px;
        padding: 2px;
    }

    .card-pricing, .product-card-rating{
        font-size: 12px;
    
    }

    .product-card > figcaption {
        display:flex;
        flex-direction: column;
        font-size: 14px;
        padding: 5px;
    } 


    .results-link {
        position: relative;
        right: 240px;
        padding: 15px 10px 25px 10px;
        font-weight: 700;
    }

    /*Side content*/

    .side-content {
        width: 33%;
    }


    .side-content-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }



    .side-content-card {
        width: 260px;
        height: 110px;
        border: white 4px solid;
        background-color: white;
        display: flex;
        margin: 27px auto;
        border-radius: 15px;


    }

    .side-content-card-image {
        border-radius: 15px 0 0 15px;
        height: 102px;
        width: 100px;
        object-fit: cover;

    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}