/** Import fonts **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');


/** Colors **/
:root {
    --blue: #0065FC;
    --ligther-blue: #DEEBFF;
    --Gray: #F2F2F2;
}

/** Reset Styling **/

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

body {

    margin: 0 auto;
}

p,
i {
    font-size: 14px;
}


/** Styling **/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /**Site Logo**/

  .site-logo{
    display: none;
  }

  .site-logo-mobile {
    display: block;
    height: 50px;
    width:auto;
    margin: 0 auto 80px;
}


/** Navigation **/
.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 370px;
    font-weight: 500;
    position:relative;
    top: 110px;
}


.nav-text {
    border-bottom: var(--Gray) 3px solid;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}

.nav-text:hover {
    color: var(--blue);
    border-bottom: var(--blue) 3px solid;
}


  /*header*/


  .site-header {
    width: 350px;
    margin: 10px auto;
    padding: 0 20px;
}

.site-heading {
    font-size: 20px;
  
}

.site-subheading {
    padding: 10px 0;
    font-size: 16px;
}


  /** Seacrh Form **/
  .site-search-form {
    margin: 20px;
}

.form-icon-background {
    height: 45px;
    width: 40px;
    display: inline-block;
    background-color: var(--Gray);
    border-radius: 15px 0 0 15px;
    margin-right: -4px;

}

.form-icon {
    padding: 14px 16px;
}

.form-text-field {
    border: var(--Gray) 1px solid;
    margin: 0;
    height: 45px;
    width: 200px;
    font-weight: 700;
    padding-left: 20px;
    color: black;

}

.form-button {
    border-radius: 0 15px 15px 0;
    padding: 13px 15px;
    background-color: var(--blue);
    color: white;
    font-weight: 500;
    margin-left: -5px;
    cursor: pointer;
}


/**Filters Section**/

.filters {
    margin: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    width:300px;
    justify-content: space-between;
    align-items: center;
}

.filters>h2 {
    font-size: 18px;
}

.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-radius: 50px;
    padding-right: 5px;
    border: var(--Gray) 3px solid;
    border-left: none;
    font-weight: 700;

}

.filter-icon-background {
    background-color: #DEEBFF;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 10px;
    text-align: center;
}

.item-icon {
    color: #0065FC;
}

.item-text {
    padding: 5px;
}

/** Tool Tip**/

.tooltip {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 370px;
}

.tooltip-icon {
    color: var(--blue);
    border: var(--Gray) 2px solid;
    border-radius: 20px;
    padding: 4px 8px;
    margin: 0 10px;

}

.tooltip-text {
    padding-right: 30px;
}



    

/*MAIN CONTENT*/ 

    .main-content-header {
        padding: 10px;
    }

    .main-content-title,
    .side-panel-title,
    .section-title {
        font-size: 20px;
        padding: 10px 0;
    }

    .main-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        margin-bottom: 30px;
    }

    /*SIDE CONTENT*/

    
    .side-panel {
        background-color: var(--Gray);
        width:100%;
    }

    .side-panel-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 5px;
       
    }


    .side-panel-card {
        margin: 12px 10px;
        border: white 4px solid;
        background-color: white;
        display: flex;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 4px #BBB);
    }


    .side-panel-card-image {
        border-radius: 15px 0 0 15px;
        height: 132px;
        width: 100px;
        object-fit: cover;

    }

    .side-panel-card>figcaption {
        justify-content: space-evenly;
        margin:0 10px;
    }

    /*END OF SIDE CONTENT*/

    /*RESULTS SECTION*/

    .results-section {
     
        margin: 20px 0;
    }

    .results-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


    }

    .product-card {
        width: 100%;
        height: 150px;
        border-radius: 20px;
        border: white 4px solid;
        background-color: white;
        margin: 6px;
        filter: drop-shadow(0px 3px 4px #BBB);

    }

    .card-image {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 80px;
        object-fit: cover;


    }

    .card-title {
    
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card-pricing {
        font-size: 11px;
    }


    .product-card-rating>i {
        font-size: 10px;
        letter-spacing: -3px;
    }

    .product-card>figcaption,
    .side-panel-card>figcaption {
        display: flex;
        flex-direction: column;
      
        padding: 5px 0 0 10px;
    }


    .results-link {
        display: block;
        padding: 20px 15px 15px 20px;
        font-weight: 700;
    }

    .star-toggled-on {
        color: var(--blue);
    }

    .star-toggled-off {
        color: var(--Gray);
    }

    /*END OF RESULTS SECTION*/


    /*ACTIVITY SECTION*/


    .activities-section-title {
        font-size: 16px;
        margin: 30px 25px 10px 25px;
    }

    .activities-section-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:  center;
        padding: 10px 0;
        margin-bottom: 30px;
    }

    .activities-section-container>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .activities-section-container > div{
        width: 100%;
    }


    .activities-section-card {
        width: 90%;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        filter: drop-shadow(0px 3px 4px #BBB);
        margin:10px auto;
    }

    .activities-section-card>figcaption>.card-title {
        padding: 10px;
    }


    .small-mobile {
        height: 100px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

     /*FOOTER SECTION*/
     footer {
        background-color: var(--Gray);
    }

    .footer-container {
        margin-top: 30px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }

    .footer-text {
        padding: 5px 0;
        font-weight: 500px;
    }

    /*END OF FOOTER SECTION*/




}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

 
    /**Site Logo**/
    .site-logo {
        position: relative;
        right: 35px;
        height: 45px;
        width: auto;
        margin: 5px 20px;
    }

    .site-logo-mobile{
        display: none;
    }

    /** Navigation **/
    .site-nav {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        font-weight: 500;
    }


    .nav-text {
        border-top: white 3px solid;
        padding-top: 45px;
        width: 200px;
        text-align: center;
    }

    .nav-text:hover {
        color: var(--blue);
        border-top: var(--blue) 3px solid;
    }


    /*header*/


    .site-header {
        margin: 20px;
    }

    .site-heading {
        font-size: 18px;
    }

    .site-subheading {
        padding: 5px 0;
        font-size: 12px;
    }



    /** Seacrh Form **/
    .site-search-form {
        margin: 20px;
    }

    .form-icon-background {
        height: 45px;
        width: 40px;
        display: inline-block;
        background-color: var(--Gray);
        border-radius: 15px 0 0 15px;
        margin-right: -4px;

    }

    .form-icon {
        padding: 14px 16px;
    }

    .form-text-field {
        border: var(--Gray) 1px solid;
        margin: 0;
        height: 45px;
        width: 200px;
        font-weight: 700;
        padding-left: 20px;
        color: black;

    }

    .form-button {
        border-radius: 0 15px 15px 0;
        padding: 13px 15px;
        background-color: #0065FC;
        color: white;
        font-weight: 500;
        margin-left: -5px;
        cursor: pointer;
    }


    /**Filters Section**/

    .filters {
        margin: 30px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 65%;

    }

    .filters>h2 {
        font-size: 18px;
    }

    .filter-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        border-radius: 50px;
        padding-right: 5px;
        border: var(--Gray) 3px solid;
        border-left: none;
        font-weight: 700;

    }

    .filter-icon-background {
        background-color: #DEEBFF;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        padding: 10px;
        text-align: center;
    }

    .item-icon {
        color: #0065FC;
    }

    .item-text {
        padding: 5px;
    }

    /** Tool Tip**/

    .tooltip {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 400px;
    }

    .tooltip-icon {
        color: var(--blue);
        border: var(--Gray) 2px solid;
        border-radius: 20px;
        padding: 4px 8px;
        margin: 0 10px;

    }

    .tooltip-text {
        padding-right: 30px;
    }


    /*Main-content*/

    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        margin-bottom: 30px;
    }

    .main-content-header {
        padding: 10px;
    }

    .main-content-title,
    .side-panel-title,
    .section-title {
        font-size: 16px;
        padding: 10px 0;
    }

    .main-content>section {
        background-color: var(--Gray);
        border-radius: 15px;
        padding: 10px;
    }


    /*Results Section*/

    .results-section {
        max-width: 65%;
    }

    .results-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-card {
        width: 180px;
        height: 150px;
        border-radius: 20px;
        border: white 4px solid;
        background-color: white;
        margin: 6px;
        filter: drop-shadow(0px 3px 4px #BBB);

    }

    .card-image {
        border-radius: 15px 15px 0 0;
        width: 172px;
        height: 80px;
        object-fit: cover;


    }

    .card-title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .card-pricing {
        font-size: 11px;
    }


    .product-card-rating>i {
        font-size: 10px;
        letter-spacing: -3px;
    }

    .product-card>figcaption,
    .side-panel-card>figcaption {
        display: flex;
        flex-direction: column;
        width: 160px;
        padding: 5px 0 0 10px;
    }


    .results-link {
        display: block;
        padding: 20px 15px 15px 20px;
        font-weight: 700;
    }

    .star-toggled-on {
        color: var(--blue);
    }

    .star-toggled-off {
        color: var(--Gray);
    }



    /*SIDE CONTENT*/

    .side-panel-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px;
    }


    .side-panel-card {
        margin: 12px 10px;
        border: white 4px solid;
        background-color: white;
        display: flex;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 4px #BBB);
    }


    .side-panel-card-image {
        border-radius: 15px 0 0 15px;
        height: 102px;
        width: 100px;
        object-fit: cover;

    }

    .side-panel-card>figcaption {

        justify-content: space-evenly;
        padding: 0 10px;
    }

    /*END OF SIDE CONTENT*/


    /*ACTIVITY SECTION*/

    .activities-section-title {
        font-size: 16px;
        margin: 30px 25px 10px 25px;
    }

    .activities-section-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 30 px;
    }

    .activities-section-container>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }


    .activities-section-card {
        width: 200px;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        filter: drop-shadow(0px 3px 4px #BBB);
    }

    .activities-section-card>figcaption>.card-title {
        padding: 10px;
    }

    .big {
        height: 300px;
        width: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .small {
        height: 100px;
        width: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    /*END OF ACTIVITY SECTION*/


    /*FOOTER SECTION*/
    footer {
        background-color: var(--Gray);
    }

    .footer-container {
        margin-top: 30px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .footer-text {
        padding: 5px 0;
        font-weight: 500px;
    }

    /*END OF FOOTER SECTION*/



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /*HEADER*/

    .site-heading {
        font-size: 22px;
    }

    .site-subheading {
        padding: 5px 0;
        font-size: 18px;
    }

    /*SEARCH SECTION*/

    .site-search-form {
        margin: 30px 20px;
    }

    .form-icon-background {
        height: 100%;
        width: 45px;
    }

    .form-icon {
        font-size: 16px;
    }

    .form-text-field {
        font-size: 16px;
        width: 200px;
    }

    .form-button {
        font-size: 16px;
    }

    /*FILTER SECTION*/

    .filters>h2 {
        font-size: 20px;
    }

    .filter-item {
        height: 50px;
        border: var(--Gray) 4px solid;
        border-left: none;
    }

    .filter-icon-background {
        height: 50px;
        width: 50px;
        padding: 15px;
    }

    .item-icon {
        height: 15px;
    }

    .item-text {
        font-size: 16px;
        padding: 10px;
    }

    /** Tool Tip**/

    .tooltip {
        margin-left: 20px;
    }



    /*RESULTS SECTION*/
    .main-content-title,
    .side-panel-title,
    .section-title {
        font-size: 20px;
    }


    .product-card {
        width: 230px;
        height: 205px;
        margin: 6px 0;
    }

    .card-image {
        width: 222px;
        height: 120px;
    }

    .card-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .card-pricing {
        font-size: 14px;
    }


    .product-card-rating>i {
        font-size: 14px;
        letter-spacing: -3px;
    }

    .results-link {
        display: block;
        margin: 10px 0 10px -5px;
        font-weight: 700;
    }

    /*END OF RESULTS SECTION*/


    /*SIDE CONTENT*/


    .side-panel-card {
        margin: 22px 10px;
        border: white 4px solid;
        background-color: white;
        display: flex;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 4px #BBB);
    }

    .side-panel-card-image {
        border-radius: 15px 0 0 15px;
        height: 132px;
        width: 110px;
        object-fit: cover;
    }

    .product-card>figcaption,
    .side-panel-card>figcaption {
        width: 200px;
    }

    .side-panel-star {}

    /*ACTIVITY SECTION*/

    .activities-section-title {
        font-size: 20px;
    }


    .activities-section-card {
        width: 250px;
    }

    .big {
        height: 400px;
        width: 250px;
    }

    .small {
        height: 160px;
        width: 250px;
    }

    /*END OF ACTIVITIES SECTION*/


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {



}